/*******Customization Starts Here********/

.character-group{
	width: 100%;
}
.group-4{
	float: left;
	width: 25%;
}


/*******Responsive******/

@media only screen and (max-width: 769px){
	.group-4{
		width:50%;
	}
}
