<!DOCTYPE html>
<html>
<head>
{% include head.html %}
</head>
  <body>
    <div class="main">
      <div style="width:30vw;">
      <button class="answers w3-animate-left" style="bottom:0;margin-bottom:80vh;" onclick="yeah()">Great, I’ll join you.</button>
      <button class="answers" onclick="nope()" style="bottom:0;margin-bottom:70vh;">No thanks</button>
      <button class="answers" onclick="nope()" style="bottom:0;margin-bottom:60vh;">Sounds like fun, Maybe I’ll come back.</button>
      <img src="{{ page.image }}" class="character"/>
      </div>
      <div class="title">{{ page.description }}</div>
    
      <div class="sub"><h3 class="typewriter" id="speech"></h3>
        <div class="nav">
          <a href="./{{ page.previous }}"><img src="../left_arrow.svg" width="100vw"/></a>
          <a href="../Layout.pdf"><img src="../Home_Button.svg" width="100vw"/></a>
          <a href="group.html"><img src="../Group_Button.svg" width="100vw" /></a>
          <a href="./{{ page.next }}"><img src="../right_arrow.svg" width="100vw"/></a>
          <a href="../{{ page.nextgroup}}"><img src="../Next_Button.svg" width="100vw"/></a>
        <div>
          <div id="letter" style="display:none;"><img height="100px" src="letter.svg" /></div>
     </div>
  </body>
</html>
